# Môi trường ảo
venv/
.env

# Database
db.sqlite3
*.sqlite3

# Python cache
__pycache__/
*.pyc

# Các file media và static do người dùng tải lên
/media/
/static_root/

# File cấu hình của IDE
.vscode/
.idea/

# Các file BackUp Data
fixtures/
.json