{% extends 'dashboard_base.html' %}
{% load static %}
{% load booking_extras %}

{% block dashboard_title %}{% if object %}Sửa Loại phòng{% else %}Thêm Loại phòng{% endif %}{% endblock %}
{% block header_title %}{% if object %}Sửa Loại phòng{% else %}Thêm Loại phòng{% endif %}{% endblock %}

{% block header_back_link %}
    <a href="{% url 'room_type_list' %}" class="header-back-link">
        <i class="fas fa-chevron-left"></i> Quay lại Danh sách
    </a>
{% endblock %}

{% block dashboard_content %}
<div class="checkout-section">
    <form method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="form-field full-width">{{ form.name.label_tag }} {{ form.name|add_attr:"class:form-control" }}</div>
        <div class="form-field full-width" style="margin-top: 20px;">
            {{ form.description.label_tag }}
            {{ form.description|add_attr:"class:form-control" }}
        </div>
        <div class="form-field full-width" style="margin-top: 20px;">
            {{ form.image.label_tag }}
            {{ form.image|add_attr:"class:form-control-file" }}
        </div>
        
        <div style="margin-top: 30px;">
            <button type="submit" class="btn-book">Lưu lại</button>
            <a href="{% url 'room_type_list' %}" class="btn-book cancel" style="text-decoration: none; margin-left: 15px;">Hủy</a>
        </div>
    </form>
</div>
{% endblock %}