{% extends 'base.html' %}
{% load static %}

{% block title %}Các loại phòng - Fivitel{% endblock %}

{% block content %}

<div class="page-banner">
    <h1 class="page-title">CÁC HẠNG PHÒNG CỦA CHÚNG TÔI</h1>
    <p class="page-subtitle">Khám phá không gian nghỉ dưỡng lý tưởng, được thiết kế tinh tế để phù hợp với mọi nhu cầu của bạn, từ công tác cho đến kỳ nghỉ cùng gia đình.</p>
</div>

<div class="list-container">
    <div class="container">
        <div class="card-grid">
            {% for type in room_types %}
            
            <a href="{% url 'room_class_list' type.pk %}?{{ request.GET.urlencode }}" class="room-type-card">
            {% if type.image %}
                    <img src="{{ type.image.url }}" alt="{{ type.name }}">
                {% else %}
                    <div class="placeholder-image"></div>
                {% endif %}
                <div class="card-content">
                    <h3>{{ type.name }}</h3>
                    <p>{{ type.description|truncatewords:20 }}</p>
                    <span class="card-action">Xem các hạng phòng &rarr;</span>
                </div>
            </a>
            {% empty %}
            <p>Chưa có thông tin về loại phòng nào được cập nhật.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}